@{
    ViewData["Title"] = "Gracias!";
}

<div class="container d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1>Gracias por tu interés, te contestaré lo antes posible</h1>
        <a asp-controller="Home" asp-action="Index" class="nav-link">Volver al inicio</a>
        <img style="margin-left:37%" class="row" src="https://assets-global.website-files.com/5e51c674258ffe10d286d30a/5e535398d87131adfd0c974a_peep-25.svg" />
    </div>



    
</div>


