@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}


<div class="container mt-5">
    <h1 class="text-center">Mis Proyectos</h1>
    <p class="lead text-center">Aquí encontrarás todos los proyectos en los que he trabajado</p>
</div>

<partial name="_Proyectos" model="Model" />

