<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">


</head>
<body>
    <header>
        <nav>
            <div style="max-width: 1200px; margin: 0 auto; padding: 1rem; display: flex; align-items: center;">

                <a href="#" style="text-decoration: none; display: flex; align-items: center;">
                    <i class="bi bi-braces" style="font-size: 1.5rem;"></i>
                    <span class="bar" style="font-weight: bold; margin-right: 0.5rem;">YersonGalvis.Dev</span>
                </a>

                <a class="nav-link" href="/images/Cv_YersonGalvis.pdf" download="Cv_YersonGalvis.pdf">Descargar CV <i class="bi bi-cloud-arrow-down-fill"></i> </a>

                <div style="margin-left: auto;"></div> <!-- Espaciador para empujar elementos a la derecha -->

                <a class="nav-link"  asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Projects">Proyectos</a>

                <a href="https://github.com/YersonFGalvis" style="text-decoration: none; display: flex; align-items: center; margin-right: 1rem;" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-github" style="font-size: 1.5rem;"></i>
                </a>

                <a href="https://www.linkedin.com/in/yerson-galvis-972337243/" style="text-decoration: none; display: flex; align-items: center;" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-linkedin" style="font-size: 1.5rem;"></i>
                </a>
            </div>
        </nav>

    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>

        $('.js-input').keyup(function () {
            if ($(this).val()) {
                $(this).addClass('not-empty');
            } else {
                $(this).removeClass('not-empty');
            }
        });

    </script>
</body>
</html>
